*{
    padding: 0px;
    margin: 0px;
}
body{
    background-size: cover;
    background-color: rgb(190, 210, 153);
}
form{
    align-items: center;
    
    width: 20em;
     height: 23em;
    padding: 40px;
    margin-left: 340px;
    margin-top: 50px;
    border: 2px solid black;
}
.login h3{
    text-align: center; 
    text
}
/* increase the width of input box */
 .login input{
   height: 2em;
   width: 23em;
   
} 
 .login #loginbutton{
   width: 75%;
   background-color:dodgerblue;
   height: 2em;
   border: none;
   color: white;
   margin-left: 40px;
   align-items: center;
}
 .login .logmisc{
     
    
    align-items: center;
}
h1{
    text-decoration: solid;
    text: shadow 2px;
    color:black;
}
h3{
    color: #000;
}
a:hover{
    color: rebeccapurple;
}
h4{
    color:black;
}
label{
    font-size: smaller;
    color: red;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display:flex;
    align-items: center;
}
.logo{
    width: 70px;
    cursor: pointer;
}
nav{
    text-align: right;
    flex: 1;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: black;